.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5ac35;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
  color: #fff;
  font-family: 'Source Sans 3', sans-serif;
  width: 100%;
  padding-top: 6em;
  height: 19em;
}

.profile>div {
  padding-bottom: 1em;
  margin-top: -1em;
}

.profile>div>span {
  font-size: 1.5em;
}