nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  position: fixed;
  top: 0px;
  padding: 0 1.5em;
}

nav>span {
  color: #FFFFFF;
  font-size: 2.5em;
  font-weight: 400;
  font-family: 'Bungee';
}

.nav-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-text p {
  cursor: pointer;
  color: white;
}

nav>div>p>span {
  font-weight: bold;
}

i {
  color: #cb1b1b;
  cursor: pointer;
  margin-top: -1em;
}

@keyframes arrowMovement {
  from {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 5px, 0);
  }
}

.nav-text i:hover {
  animation: arrowMovement 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}