nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  position: fixed;
  top: 0;
  padding: 0 1.5em;
  z-index: 10;
  color: #FFFFFF;
}

nav>span {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}

.nav-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angles-down {
  color: red;
}

@keyframes arrowMovement {
  from {
    transform: translate3d(0, -5px, 0);
  }

  to {
    transform: translate3d(0, 5px, 0);
  }
}

.nav-text i:hover {
  animation: arrowMovement 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}