#tweet-text {
  display: block;
  background: none;
  height: 1.5em;
  line-height: 0.9em;
  margin: 0.75em 0 1em 0;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: solid black 2px;
  width: 100%;
  resize: none;
}

#tweet-text:focus {
  outline: none;
}

.tweet-btn {
  border-radius: 0;
  background-color: #4152A1;
  border: none;
  color: #FFFFFF;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
  font-family: 'Source Sans 3', sans-serif;
}

.new-tweet {
  width: inherit;
}

.countcont {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-size: 1em;
  color: #4152A1;
  font-family: 'Source Sans 3', sans-serif;
}

.red {
  color: red;
}

.icons {
  display: flex;
  justify-content: flex-end;
}

.icons i {
  margin-left: 0.5em;
  color: #4152A1;
  font-size: 1em;
  cursor: pointer;
}

.icons i:hover {
  color: #e9b20d;
}

.tweets-container {
  width: 100%;
  margin-top: 1em;
}

.tweet {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
}

article.tweet:hover {
  box-shadow: 0 0 10px #000000;
}

article.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 0.75em;
  font-weight: 300;
}

article.tweet header img {
  width: 2.5em;
  object-fit: cover;
  margin: 0 0.5em;
}

article.tweet header div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person {
  display: flex;
  align-items: center;
}

article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #000000;
  padding-top: 0.5em;
  font-size: 15px;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
}

article p {
  font-size: 1em;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
}